@media(min-width:600px){
  .ghBoxScaleOnMdOnHover:hover {
    transform: scale(1.03);
  }
}

.ghBoxScaleOn:hover {
  transform: scale(1.03);
}

.ghBoxTransitionAll  {
    transition: all 0.2s;
}

.ghBoxShadowOnHover:hover {
  box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 1px rgb(66 66 66 / 16%);
}

.ghBoxShadowOnHover2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}