/******** English Fonts ********/

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/English-Fonts/Open_Sans/OpenSans-Regular.woff2")
      format("woff2-variations"),
    url("../fonts/English-Fonts/Open_Sans/OpenSans-Regular.woff")
      format("woff-variations");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/English-Fonts/Open_Sans/OpenSans-Italic.woff2")
      format("woff2-variations"),
    url("../fonts/English-Fonts/Open_Sans/OpenSans-Italic.woff")
      format("woff-variations");
  font-weight: normal;
  font-style: italic;
}

.qFontOpenSense {
  font-family: "OpenSans";
}

/* ---------------------------- */

@font-face {
  font-family: "PlusJakartaSans";
  src: url("../fonts/English-Fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.woff2")
      format("woff2-variations"),
    url("../fonts/English-Fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.woff")
      format("woff-variations");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("../fonts/English-Fonts/Open_Sans/OpenSans-Italic.woff2")
      format("woff2-variations"),
    url("../fonts/English-Fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic.woff")
      format("woff-variations");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

.qFontPlusJakartaSans {
  font-family: "PlusJakartaSans";
}

/* ---------------------------- */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/English-Fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/English-Fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("../fonts/English-Fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.qFontRoboto {
  font-family: "Roboto";
}

/* ---------------------------- */

@font-face {
  font-family: "ABeeZee";
  src: url("../fonts/English-Fonts/ABeeZee/ABeeZee-Regular.woff2")
      format("woff2"),
    url("../fonts/English-Fonts/ABeeZee/ABeeZee-Regular.woff") format("woff"),
    url("../fonts/English-Fonts/ABeeZee/ABeeZee-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABeeZee";
  src: url("../fonts/English-Fonts/ABeeZee/ABeeZee-Italic.woff2")
      format("woff2"),
    url("../fonts/English-Fonts/ABeeZee/ABeeZee-Italic.woff") format("woff"),
    url("../fonts/English-Fonts/ABeeZee/ABeeZee-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

.qFontABeeZee {
  font-family: "ABeeZee";
}

/* ---------------------------- */

@font-face {
  font-family: "Aboreto";
  src: url("../fonts/English-Fonts/Aboreto/Aboreto-Regular.woff2")
      format("woff2"),
    url("../fonts/English-Fonts/Aboreto/Aboreto-Regular.woff") format("woff"),
    url("../fonts/English-Fonts/Aboreto/Aboreto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.qFontAboreto {
  font-family: "Aboreto";
}

/******** Arabic Fonts ********/

@font-face {
  src: url("../fonts/Arabic-Fonts/Amiri/Amiri-Regular.woff2") format("woff2"),
    url("../fonts/Arabic-Fonts/Amiri/Amiri-Regular.woff") format("woff"),
    url("../fonts/Arabic-Fonts/Amiri/Amiri-Regular.ttf") format("truetype");
  font-family: "Amiri";
  font-style: normal;
  font-weight: normal;
}

.qFontAmiri {
  font-family: "Amiri";
}

/* ---------------------------- */

@font-face {
  font-family: "AmiriQuranColored";
  src: url("../fonts/Arabic-Fonts/Amiri_Quran_colored/AmiriQuranColored.woff2")
      format("woff2"),
    url("../fonts/Arabic-Fonts/Amiri_Quran_colored/AmiriQuranColored-Regular.woff")
      format("woff"),
    url("../fonts/Arabic-Fonts/Amiri_Quran_colored/AmiriQuranColored.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.qFontAmiriQuranColored {
  font-family: "AmiriQuranColored";
}

/* ---------------------------- */

@font-face {
  font-family: "NotoNaskhArabic";
  src: url("../fonts/Arabic-Fonts/Noto_Naskh_Arabic/NotoNaskhArabic-Regular.woff2")
      format("woff2"),
    url("../fonts/Arabic-Fonts/Noto_Naskh_Arabic/NotoNaskhArabic-Regular.woff")
      format("woff"),
    url("../fonts/Arabic-Fonts/Noto_Naskh_Arabic/NotoNaskhArabic-Regular.ttf")
      format("truetype");
  font-style: normal;
  font-weight: normal;
}

.qFontNotoNaskhArabic {
  font-family: "NotoNaskhArabic";
}

/* ---------------------------- */

@font-face {
  font-family: "hafs";
  src: url("../fonts/Arabic-Fonts/Hafs/hafs.woff2") format("woff2"),
    url("../fonts/Arabic-Fonts/Hafs/hafs.woff") format("woff"),
    url("../fonts/Arabic-Fonts/Hafs/hafs.ttf") format("truetype"),
    url("../fonts/Arabic-Fonts/Hafs/hafs.otf");
  font-style: normal;
  font-weight: normal;
}

.qFontHafs {
  font-family: "hafs";
}

/******** Persian Fonts ********/

@font-face {
  font-family: "B Yekan";
  src: url("../fonts/Persian-Fonts/B-Yekan/BYekan.woff2") format("woff2"),
    url("../fonts/Persian-Fonts/B-Yekan/Byekan.woff") format("woff"),
    url("../fonts/Persian-Fonts/B-Yekan/BYekan.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.qFontBYekan {
  font-family: "B Yekan";
}

/* ---------------------------- */

@font-face {
  font-family: "B Mitra";
  src: url("../fonts/Persian-Fonts/BMitra/BMitra.woff2") format("woff2"),
    url("../fonts/Persian-Fonts/BMitra/BMitra.woff") format("woff"),
    url("../fonts/Persian-Fonts/BMitra/BMitra.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.qFontBmitra {
  font-family: "B Mitra";
}

/* ---------------------------- */

@font-face {
  font-family: "Estedad";
  src: url("../fonts/Persian-Fonts/Estedad/Estedad-FD-KSHD-wght.woff2")
      format("woff2-variations"),
    url("../fonts/Persian-Fonts/Estedad/Estedad-KSHD-wght.woff2")
      format("woff2-variations"),
    url("../fonts/Persian-Fonts/Estedad/Estedad-FD-KSHD-wght.ttf")
      format("truetype-variations"),
    url("../fonts/Persian-Fonts/Estedad/Estedad-KSHD-wght.ttf")
      format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.qFontEstedad {
  font-family: "Estedad";
}

/* ---------------------------- */

@font-face {
  font-family: "Mikhak";
  src: url("../fonts/Persian-Fonts/Mikhak/Mikhak-FD-DSTYKSHD-wght.woff2")
      format("woff2-variations"),
    url("../fonts/Persian-Fonts/Mikhak/Mikhak-DSTY-KSHD-wght.woff2")
      format("woff2-variations"),
    url("../fonts/Persian-Fonts/Mikhak/Mikhak-DSTY-KSHD-wght.ttf")
      format("truetype-variations"),
    url("../fonts/Persian-Fonts/Mikhak/Mikhak-FD-DSTY-KSHD-wght.ttf")
      format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.qFontMikhak {
  font-family: "Mikhak";
}

/* ---------------------------- */

@font-face {
  font-family: "Vazirmatn";
  src: url("../fonts/Persian-Fonts/Vazirmatn/Vazirmatn-wght.woff2")
      format("woff2 supports variations"),
    url("../fonts/Persian-Fonts/Vazirmatn/Vazirmatn-wght.woff2")
      format("woff2-variations"),
    url("../fonts/Persian-Fonts/Vazirmatn/Vazirmatn-wght.ttf")
      format("truetype supports variations"),
    url("../fonts/Persian-Fonts/Vazirmatn/Vazirmatn-wght.ttf")
      format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.qFontVazirmatn {
  font-family: "Vazirmatn";
}

/* ---------------------------- */

@font-face {
  font-family: "Web Yekan";
  src: url("../fonts/Persian-Fonts/WebYekan/WebYekan.woff2") format("woff2"),
    url("../fonts/Persian-Fonts/WebYekan/WebYekan.woff") format("woff"),
    url("../fonts/Persian-Fonts/WebYekan/WebYekan.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.qFontYekan {
  font-family: "Web Yekan";
}

/* ---------------------------- */

@font-face {
  font-family: "XM Yekan";
  src: url("../fonts/Persian-Fonts/XMYekan/XMYekan.woff2") format("woff2"),
    url("../fonts/Persian-Fonts/XMYekan/XMYekan.woff") format("woff"),
    url("../fonts/Persian-Fonts/XMYekan/XMYekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.qFontXMyekan {
  font-family: "XM Yekan";
}
