  /******** English Fonts ********/

@font-face {
  font-family: "OpenSense";
  src: url("../fonts/English-Fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format("ttf");
}
.qFontOpenSense {
  font-family: "OpenSense";
}

@font-face {
  font-family: "PlusJakataSans";
  src: url("../fonts/English-Fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf") format("ttf");
}
.qFontPJS {
  font-family: "PlusJakataSans";
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/English-Fonts/Roboto/Roboto-Medium.ttf") format("ttf");
}
.qFontRoboto{
  font-family: "Roboto";
}

  /******** Arabic Fonts ********/

@font-face {
  font-family: "AmiriQuran";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Arabic-Fonts/Amiri_Quran/AmiriQuran-Regular.ttf") format("ttf");
} 
.qFontAQ {
  font-family: "AmiriQuran";
}

@font-face {
  font-family: "AmiriKh";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Arabic-Fonts/amiri_kh/Amiri-Regular.ttf") format("ttf");
}
.qFontAKh{
  font-family: "AmiriKh";
}

@font-face {
  font-family: "NotoNaskhArabik";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Arabic-Fonts/Noto_Naskh_Arabic/NotoNaskhArabic-VariableFont_wght.ttf") format("ttf");
}
.qFontNNA {
  font-family: "NotoNaskhArabik";
}

/******** Persian Fonts ********/

@font-face {
  font-family: "BYekan";
  src: url("../fonts/Persian-Fonts/BYekan.eot");
  src: url("../fonts/Persian-Fonts/BYekan.woff") format("woff"),
    url("../fonts/Persian-Fonts/BYekan.woff2") format("woff2");    
}
.qFontBYekan {
  font-family: "BYekan";
}

@font-face {
  font-family: "Yekan";
  src: url("../fonts/Persian-Fonts/WebYekan.eot");
  src: url("../fonts/Persian-Fonts/WebYekan.ttf") format("ttf");
}
.qFontYekan {
  font-family: "Yekan";
}

@font-face {
  font-family: "XM Yekan";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Persian-Fonts/XMYekan.eot");
  src: url("../fonts/Persian-Fonts/XMYekan.ttf") format("ttf"),
    url("../fonts/Persian-Fonts/XMYekan.woff2") format("woff2"),
    url("../fonts/Persian-Fonts/XMYekan.woff") format("woff");
}
.qFontXMyekan {
  font-family: "XM Yekan" sans-serif;
}

@font-face {
  font-family: "XM Yekan" bold;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Persian-Fonts/XMYekanBold.eot");
  src: url("../fonts/Persian-Fonts/XMYekanBold.ttf") format("ttf"),
    url("../fonts/Persian-Fonts/XMYekanBold.woff2") format("woff2"),
    url("../fonts/Persian-Fonts/XMYekanBoldItalic.woff") format("woff");
}
.qFontXMyekanBold {
  font-family: "XM Yekan" bold sans-serif;
}

@font-face {
  font-family: "BMitra";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Persian-Fonts/BMitra.woff") format("woff");
}
.qFontBmitra {
  font-family: "BMitra";
}

@font-face {
  font-family: "BMitraBold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Persian-Fonts/BMitraBold.woff") format("woff");
}
.qFontBmitraBold {
  font-family: "BMitraBold";
}

@font-face {
  font-family: "hafs";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Persian-Fonts/hafs.eot");
  src: url("../fonts/Persian-Fonts/hafs.woff") format("woff");
  src: url("../fonts/Persian-Fonts/hafs.otf") format("otf");
}
.qHafs {
  font-family: "hafs";
}