@media print {
  .noPrint {
    display: none;
  }
}
@media screen {
  .onlyPrint {
    display: none;
  }
}

.ghBorderBottom1pxSolidGray {
  border-bottom: 0.1rem solid #7d7d7d50;
}

.ghGroupJustifyCenter {
  justify-content: center !important;
}

.ghTextCenterJustify {
  text-align: justify;
  text-align-last: center;
}
.ghTextJustify {
  text-align: justify;
}

.ghDirectionLef {
  direction: ltr !important;
}
