@media print {
  .qnoPrint {
    display: none;
  }
}
@media screen {
  .qonlyPrint {
    display: none;
  }
}

/* Six Class for dispaly none in different scale */

@media screen and (max-width: 350px) {
  .qMediaOnXssScreenNone {
    display: none;
  }
}

@media screen and (max-width: 444px) {
  .qMediaOnXsScreenNone {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .qMediaOnSmScreenNone {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .qMediaOnMdScreenNone {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .qMediaOnLgScreenNone {
    display: none;
  }
}

@media screen and (max-width: 1500px) {
  .qMediaOnXlScreenNone {
    display: none;
  }
}

/* For customize your block position */

@media screen and (max-width: 444px) {
  .qMediaOnXsNowrap {
    flex-wrap: nowrap !important;
  }
}

@media screen and (max-width: 900px) {
  .qMediaOnMdAlignCenter {
    justify-content: center !important;
  }
}

@media screen and (max-width: 1500px) {
  .qMediaOnXlAlignCenter {
    justify-content: center !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1500px) {
  .qMediaOnXlEndSmScreenNone {
    justify-content: center !important;
  }
}

@media (max-width: 781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column.qWrapNegativeOnMdScren {
    flex-basis: 30% !important;
  }
}

@media (max-width: 781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column.qWrapPositiveOnMdScren {
    flex-basis: 40% !important;
  }
}
/* Radial Gradient Background */

.qBoxRadialBgWhite {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #d9d9d9 0%,
    rgba(217, 217, 217, 0) 100%
  );
}

.qBoxRadialBgBlack {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #000000 0%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0.5;
}

.qBorderDashed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: dashed 2px #82809a;
}

.qMarginTop {
  margin-top: -50px !important;
}

.qClickToCopyText:hover {
  cursor: pointer;
}

.qClickToCopyText.qCopied::after {
  content: "Copied!";
  padding: 6px 7px;
  margin: 0 5px;
  border: 1px solid #7d7d7d;
  border-radius: 10px;
  background: #eee;
  color: #222;
  opacity: 0.8;
}
